<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.dubbo.provider.mapper.UserMapper">
    <select id="getAll"  resultType="com.ly.dubbo.api.entity.User">
        SELECT * FROM USER
    </select>

    <select id="getUserInfo" parameterType="String" resultType="com.ly.dubbo.api.entity.User">
        select id,username FROM  USER WHERE id=#{id}
    </select>

    <select id="findUser" parameterType="com.ly.dubbo.api.entity.User" resultType="com.ly.dubbo.api.entity.User">
        select id,username,departmentId,roleId,loginTime FROM  USER WHERE username=#{username} and password=#{password}
    </select>

</mapper>